.container {
  width:450px;
  height:550px;
  background-color: white;
  border: 5px solid blue;
}

.edit{
    margin-top:-10px;
    margin-left:0px;
    width:100%;
    background-color:white;
    text-align:start;
}


.labelBox{
    width:350px;
    height:400px;
    padding:70px 35px 35px 35px;

}
 
.label {
  display:flex;
  flex-direction:row;
  margin-bottom: 25px;
}

.name{
    width:50%;
    text-align: left;
    padding:10px 0 0 0;
    font-size: 13px;
}
 
.dropdown {
  width: 170px;
  border: black 1px solid;
}
 
.input{
    border: blue 1px solid;
    width: 165px;
}

.button {
  margin: 10px;
  padding: 4px 8px;
  width: 120px;
  border-radius: 5px;
  background-color: #ECECE5;
  color: black;
  border: 1px solid #78A7DB;
  cursor: pointer;
}

